<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Generate New User</a>
</nav>

<!--Header is left as a hyperlink for new random user to be generated when pressed instead of having to refresh page-->